<% content_for :head do %>
<title>我能为万门做什么| 万门大学</title>
<% end %>

<main class="container" role="main">
<article class="col-sm-8">
<h3 class="page-header">
  <span class="wm-title">让我们齐心协力共同建造属于自己的网络大学 </span>
  <span class="wm-quick-link">
    <a href="JavaScript:window.history.back();">返回</a>
  </span>
</h3>
<section>
  <dl>
 	<% if @role == BEGINNER %>
	<dt>您现在是万门大学新生，可以做的事情是</dt>
	<dd> 1.浏览和分享万门图书馆现有的书单，视频集等资源</dd>
	<dd> 2.搜索万门图书馆现有的资源</dd>
	<dd> 3.<%= form_tag "/manage" do %><button class="btn btn-primary">申请</button><% end %>成为学者，Email我们你的自我介绍。学者的一个职责是对万门现有资源进行筛选，需要保证筛选的真实可靠性，我们的名额会有一定限制。
	</dd>
	<% elsif @role == PRESCHOLAR %>
	<dt>谢谢您申请万门学者，我们会尽快处理您的请求。您现在可以</dt>
	<dd> 1.浏览和分享万门图书馆现有的书单，视频集等资源</dd>
	<dd> 2.搜索万门图书馆现有的资源</dd>
	<% elsif @role == SCHOLAR %>
	<dt>您现在是万门学者，可以做的事情是</dt>
	<dd>对书单，视频等资源的点赞，打分和评论。</dd>
	<dd>请注意操作的真实可靠性,不要乱发无用的评论，不然会被贬的</dd>
	<dd>学者得到赏识将可以被提拔为管理员，为广大新生提供更多更优质的资源</dd>
	<dd>你也可以直接<%= form_tag "/manage" do %><button class="btn btn-primary">申请</button><% end %>
	<dd> <a class="btn btn-primary" href=<%=new_book_path%>>添加新书</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_list_path%>>添加书单</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_article_path%>>添加经验贴</a></dd>
	</dd>
	<% elsif @role == PREADMIN %>
	<dt>谢谢您申请万门管理员，我们会尽快处理您的请求。您现在可以</dt>
	<dd>对书单，视频等资源的点赞，打分和评论。</dd>
	<dd>请注意操作的真实可靠性</dd>
	<dd> <a class="btn btn-primary" href=<%=new_book_path%>>添加新书</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_list_path%>>添加单子</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_article_path%>>添加经验贴</a></dd>
	<% elsif @role == ADMIN %>
	<dt>您现在是万门大学管理员，可以做的事情是</dt>
	<dd> <a class="btn btn-primary" href=<%=new_book_path%>>添加新书</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_video_path%>>添加视频</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_article_path%>>添加经验贴</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_list_path%>>添加单子</a></dd>
	<dd> <a class="btn btn-primary" href="/books/1.html">添加和删除内容对应的标签</a></dd>
	<dd> <a class="btn btn-primary" href="/books/1.html">添加内容到你的单子</a></dd>
	<dd> Email我们举报不受节操的学者和管理员</dd>
	<% elsif @role == SUPERADMIN %>
	<dt>您现在是万门大学超级管理员，可以做的事情是</dt>
    <dd> <a class="btn btn-primary" href=<%=new_book_path%>>添加新书</a></dd>
    <dd> <a class="btn btn-primary" href=<%=new_video_path%>>添加视频</a></dd>
    <dd> <a class="btn btn-primary" href=<%=new_article_path%>>添加经验贴</a></dd>
    <dd> <a class="btn btn-primary" href=<%=new_list_path%>>添加单子</a></dd>
	<dd> <a class="btn btn-primary" href=<%=new_tag_path%>>添加</a>或修改标签</dd>
	<dd> 修改管理员创建的内容</dd>
	<dd> 在图书馆中提拔某人或者贬低某人的职务</dd>
	<%= form_for('') do |f| %>
	<dd>把
	 <%= f.select :user_id, @users.map{ |c| [c.email, c.id] } %>
	提拔/贬为
	<select name="[role]">
		<option value="<%= BEGINNER %>">新生</option>
		<option value="<%= SCHOLAR %>">学者</option>
		<option value="<%= ADMIN %>">管理员</option>
		<option value="<%= SUPERADMIN %>">超级管理员</option>
		<option value="<%= BLACKLIST %>">黑名单</option>
	</select>
	<button class="btn btn-primary" href="/tags/new.html">确认</button>
	</dd>
    <% end %>
        <dd> 在万门Ｘ项目中提拔某人或者贬低某人的职务</dd>
    <%= form_for('', url: { action: 'xclubadmin' }) do |f| %>
    <dd>把
     <%= f.select :user_id, @users.map{ |c| [c.email, c.id] } %>
     提拔
     <%= f.select :xclub_id, @xclubs.map{ |x| [x.name, x.id] } %>
     的管理员
      <button class="btn btn-primary" href="">确认</button>
    </dd>
	<% end %>

    <% if can? :create, @xclub %>
        <%= link_to '建立新的X社团', new_xclub_path %>
    <% end %>

    <% end %>
  </dl>
</section>
</article>

<aside class="col-sm-4">
<section>
  <h3 class="page-header">
    <span class="glyphicon glyphicon-envelope"></span> 联系我们
  </h3>
  <p>电子邮箱：support<span class="wm-hidden">.extra</span>@wanmen.org
  </p>
</section>
</aside>
</main>
