<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :user_id, :type=>:hidden, :value=>current_user[:id]%>
  <div class="field">
    标题：
    <%= f.text_field :title %>
  </div>
  <div class="field">
    类型：
    <%= f.select :list_type, @types %>
  </div>
  <div class="field">
    封面：
    <%= image_tag(@list.cover.url("medium")) if @list.cover? %>
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    描述：
    <%= f.text_area :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
