<h1>Listing lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Creator</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.summary %></td>
        <td><%= list.user[:name] %></td>
        <td><%= link_to '显示', list %></td>
        <td><%= link_to '编辑', edit_list_path(list) %></td>
        <td><%= link_to '删除', list, method: :delete, data: { confirm: '请再次确认删除' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建集合', new_list_path %>
