<% content_for :head do %>
   <title><%= @list.title %> | 万门大学</title>
   <link rel="stylesheet" href="/assets/wm-pagedown.css" media="screen"/>
<% end %>
<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title"><%= @list.title %></span>
      <span class="wm-quick-link">
        <% if current_user&& current_user[:role]>= SCHOLAR %>
        <a href="/lists/<%=@list.id %>/edit">修改</a> |
        <a href="#" class="sort-trigger">排序</a> |
        <% end %>
        <a href="JavaScript:window.history.back();">返回</a>
        <% if current_user && current_user[:role]>= SUPERADMIN %>
          | <%= link_to '删除', list_path(@list), method: :delete, data: { confirm: '请确认要删除此集合?' } %>
        <% end %>
      </span>
    </h3>
    <p class="wm-pub-metadata">
      <span style="color:#5bc0de"><%= @list.user[:name] %></span> 发布于
      <%= @list[:updated_at].strftime('%b %d, %Y %H:%M')  %>
      <span class="pull-right"><%= @list.taglinks.length %> 个标签 | <%= @list.likes.length %>人喜欢 | <%= @list.comments.length%>个评论</span>
    </p>
    <section class="wm-indent">
      <%= @list.summary %>
    </section>

    <section class="wm-book-list wm-book-gallery">
      <% @links_array.each do |lkid| %>
      	<% link=@Link.find(lkid) %> <!--TODO:: fix this proformance issue -->
      <div lkid="lkarray-<%= link.id %>">
        <div class="row wm-list-item">
          <figure class="col-sm-3">
            <a href="
       <% case link.linkable.class.name
        when 'Book'%>
          /books/
       <% when 'Video'%>
          /videos/
       <% when 'Article' %>
          /articles/
       <%  end %><%=link.linkable.id %>.html" class="thumbnail">
               <img src="<%= link.linkable.cover %>!medium" alt="" title="<%=link.linkable.title%>">
            </a>
          </figure>
          <div class="col-sm-9">
            <h4><a href="  
      <% case link.linkable.class.name
        when 'Book'%>
          /books/
       <% when 'Video'%>
          /videos/
       <% when 'Article' %>
          /articles/
       <%  end %><%=link.linkable.id %>.html"><%=link.linkable.title%></a></h4>
            <p>
              <%= link.description %>
            </p>
           
           <% if current_user&& current_user[:role]>=SCHOLAR %> <p> <a href="/links/<%= link.id%>/edit">修改描述或顺序</a></p>
           <% end %>
          </div>
        </div>
        <hr/>
      </div>
      <% end %>
    </section>

    <section class="wm-indent">
      <%= @list.summary %>
    </section>

    <section class="wm-metadata">
      <div>   
      <%= render :partial => 'taglinks/taglinks' %>
      <%= render :partial => 'taglinks/form' %>
      <%= render :partial => 'likes/likes' %>
      <%= render :partial => 'likes/form' %>
      <%= render :partial => 'rates/rates' %>
      <%= render :partial => 'rates/form' %> 
      </div>
    </section>

    <hr/>
    <%= render :partial => 'comments/shares' %>    
    <%= render :partial => 'comments/comments' %>
    <%= render :partial => 'comments/form' %>
  </article>
  <%= render :partial => 'lists/recommend' %>
</main>

<script src="/assets/jquery-ui.js"></script>
<%= render :partial => 'layouts/markdown' %>
<%= render :partial => 'layouts/raty' %>
<%= render :partial => 'layouts/rails' %>

<script type="text/javascript">
  var initSortable= function(thelist){
    $(thelist).sortable({'axis':'y'});
    $(thelist).sortable('enable');
  }
  var sortableToArray= function(thelist, targetAttr){
    var tmpArray= $(thelist).sortable('toArray',{'attribute': targetAttr});
    return tmpArray;
  }
  var sortableSerialize= function(thelist, targetAttr){
    var tmpArray= $(thelist).sortable('serialize',{'attribute': targetAttr});
    return tmpArray;
  }
  var disableSortable= function(thelist){
    $(thelist).sortable('disable');
  }
  var enableSortable= function(thelist){
    $(thelist).sortable('enable');
  }
  var triggerIsClicked= function(thetrigger, thelist){
    initSortable(thelist);
    $(thetrigger).text('停止排序');
    $(thetrigger).unbind()
    $(thetrigger).bind('click',function(){
      $(thetrigger).text('排序');
      console.log(sortableSerialize(thelist,'lkid'));
      $.post('./<%= @list.id%>/sort',sortableSerialize(thelist,'lkid'));
      disableSortable(thelist);
      $(thetrigger).unbind();
      $(thetrigger).bind('click',function(){triggerIsClicked(thetrigger,thelist);})
    });
  }
  $('.sort-trigger').bind('click',function(){
    console.log('Trigging List Sort.');
    triggerIsClicked('.sort-trigger', '.wm-book-list');
  })
</script>
