<div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="page-header">
          <h3><%= @list.title %></h3>
          <p><%= @list.user[:name] %>修改于<%= @list[:updated_at].strftime('%b %d, %Y %H:%M')  %>
            <%= link_to '修改', edit_list_path(@list) %>
          </p>
          <p><%= @list.summary %></p>
        </div>
    </div>
    <div class="col-xs-8">
        <% @list.links.each do |link| %>
          <div class="row">
            <div class="col-xs-4">
              <a href="/<%= @type %>/<%=link.linkable.id %>" class="thumbnail">
                 <img src="<%= link.linkable.cover %>" width="360" alt="">
              </a>
            </div>
            <div class="col-xs-8">
              <h3><%= link.linkable.title %></h3>
              <p> <%= link.linkable.summary[0,200] %></p>
            </div>
          </div>
        <% end %>
    </div>
    
    <div class="col-xs-8">
      <%= @list.title %>
    </div>
    <div class="col-xs-8"> 
      <%= render :partial => 'taglinks/taglinks' %>
      <%= render :partial => 'taglinks/form' %>
      <%= render :partial => 'likes/likes' %>
      <%= render :partial => 'likes/form' %>
      <%= render :partial => 'rates/rates' %>
      <%= render :partial => 'rates/form' %> 
      <%= render :partial => 'comments/comments' %>
      <%= render :partial => 'comments/form' %>
    </div>
  </div>
</div>