<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @list.summary %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @list.user[:name] %>
</p>

<%= render :partial => 'taglinks/taglinks' %>
<%= render :partial => 'taglinks/form' %>
<%= render :partial => 'likes/likes' %>
<%= render :partial => 'likes/form' %>
<%= render :partial => 'rates/rates' %>
<%= render :partial => 'rates/form' %>
<h3>All comments:</h3>
<%= render :partial => 'comments/comments' %>
<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
