<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @list.summary %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @list.user[:name] %>
</p>
<p>
  <%= @list.links.length %> links
  <% @list.links.each do |link| %>
    <%= link %>
  <% end %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
