<section class="wm-comments">
<h4 class="text-muted">有<%=@comments.length%>条评论</h4>
<% @comments.each do |comment| %>
<div class="row">
	<figure class="col-sm-2 wm-user-info">
	  <a href="/scholars/<%= comment.user[:id]%>">
	  	<img src="<%= comment.user[:thumbnail]%>" class="img-rounded" alt="<%= comment.user[:name]%>" title="<%= comment.user[:name]%>"/>
	  </a>
	</figure>
	<div class="col-sm-10 wm-user-comment">
	  <h5>
	    <a href="/scholars/<%= comment.user[:id]%>"><%= comment.user[:name]%></a>
	    <span><%= comment.created_at.strftime('%b %d, %Y %H:%M') %></span>
	  </h5>
      <%= simple_format comment.content %>
	</div>
</div>
<hr/>
<% end %>
</section>
