<section class="wm-comments">
<h4 class="text-muted">有<%=@comments.length%>条评论</h4>
<% @comments.each do |comment| %>
<div class="row">
	<figure class="col-sm-2 wm-user-info">
        <img src="<%= comment.user.thumbnail_url %>" class="img-rounded" alt="<%= comment.user[:name]%>" title="<%= comment.user[:name]%>"/>
	</figure>
	<div class="col-sm-10 wm-user-comment">
	  <h5>
        <span style="color:#5bc0de"><%= comment.user[:name] %></span>
	    <span><%= comment.created_at.strftime('%b %d, %Y %H:%M') %></span>
        <span>
        <% if can? :destroy, comment %>
          <%= link_to '删除评论', comment_path(comment), method: :delete, data: { confirm: '请确认要删除此评论?' } %>
        <% end %>
      </span>
	  </h5>
    <%=raw Kramdown::Document.new(comment.content ).to_html%>
	</div>
</div>
<hr/>
<% end %>
</section>
