<section>
  <h4 class="text-muted">
    你的评论
    <a class="btn btn-primary btn-sm pull-right" href="../help/editor.html">如何编辑？</a>
  </h4>
  <%= form_for [@commentable, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div class="error_messages">
        <h2>Please correct the following errors.</h2>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if current_user %>
    <img src="<%= current_user[:thumbnail]%>" width="50px">

    <div class="wmd-panel">
      <div id="wmd-button-bar"></div>
      <%= f.text_area :content,:class=>"wmd-input",:id=>"wmd-input" %>
    </div>
    <div class="wmd-panel wmd-preview" id="wmd-preview"></div>
    <button class="btn btn-primary" type="submit">发布</button>
    <% else %>
      <%= f.submit '登陆以评论',:class=>"btn btn-primary"%>
    <% end %>
  <% end %>
</section>