<div class="container">
	<div class="page-header">
      <h1>搜索结果: <%= @title %></h1>
    </div>
    <div class="row">
    	<div class="col-xs-4">
    		普通类型
    		<ul>
	    		<li><input type="checkbox" id="book">图书</li>
	    		<li><input type="checkbox" id="video">视频</li>
	    		<li><input type="checkbox" id="article">经验贴</li>
	    	</ul>
	    	单子类型
    		<ul>
	    		<li><input type="checkbox" id="booklist">书单</li>
	    		<li><input type="checkbox" id="videolist">视频集</li>
	    		<li><input type="checkbox" id="articlelist">帖子集</li>
	    		<li><input type="checkbox" id="multilist">综合集</li>
	    	</ul>
	    	标签
	    	<ul>
	    		<li><input type="checkbox" id="0" checked="true">所有</li>
	    		<li><input type="checkbox" id="1">物理</li>
	    	</ul>
    	</div>
        <div class="col-xs-8">
        	<% if @books %>
				<% @books.each do |book| %>
				  <div class="row">
		            <div class="col-xs-4">
		              <a href="/books/<%= book.id %>" class="thumbnail">
		                 <img src="<%= book.cover %>!medium" width="360" alt="">
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
		              <p><%= book.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
			<% if @videos %>
				<% @videos.each do |video| %>
				 	<div class="row">
		            <div class="col-xs-4">
		              <a href="/videos/<%= video.id %>" class="thumbnail">
		                 <img src="<%= video.cover %>!medium" width="360" alt="">
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><%= video.title %></h3>
		              <p><%= video.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
			<% if @articles %>
				<% @articles.each do |article| %>
				 	<div class="row">
		            <div class="col-xs-4">
		              <a href="/articles/<%= article.id %>" class="thumbnail">
		              	<%= article.title %>
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><%= article.title %></h3>
		              <p><%= article.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
    	</div>
 	 </div>
</div>
<script src="/assets/jquery.js"></script>
<script src="/assets/bootstrap.js"></script>
<script src="/assets/wm-dom.js"></script>