<% content_for :head do %>
   <title>搜索:<%= @title %> | 万门大学</title>
<% end %>
<main class="container" role="main">
  <aside class="col-sm-3">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-check"></span> 筛选条件
    </h3>
    <section>
      <div class="checkbox wm-search-type">
        <label><input type="checkbox" <% if @type %> checked<% end %>/>普通类型<span class="text-muted">(共<%= @books.length+@videos.length+@articles.length %>项)</span></label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label><input type="checkbox" id="book" <% if @type&&(@type.include?'book') %> checked<% end %> onchange="research()" />图书 <span class="text-muted">(<%= @books.length%>)</span></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="video"  <% if @type&&(@type.include?'video') %> checked<% end %> onchange="research()" />视频 <span class="text-muted"> (<%= @videos.length%>)</span></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="article"  <% if @type&&(@type.include?'article') %> checked<% end %> onchange="research()" />经验贴 <span class="text-muted"> (<%= @articles.length%>)</span></label>
        </div>
      </div>
    </section>

    <section>
      <div class="checkbox wm-search-type">
        <label><input type="checkbox" <% if @list %> checked<% end %>/>单子类型<span class="text-muted"> (共<%= @booklists.length+@videolists.length+@articlelists.length+@mixlists.length %>项)</span></label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label><input type="checkbox" id="booklist"  <% if @list&&(@list.include?'book') %> checked<% end %> onchange="research()" />书单<span class="text-muted"> (<%= @booklists.length%>)</span></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="videolist"  <% if @list&&(@list.include?'video') %> checked<% end %> onchange="research()" />视频集<span class="text-muted">  (<%= @videolists.length%>)</span></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="articlelist"  <% if @list&&(@list.include?'article') %> checked<% end %> onchange="research()" />帖子集<span class="text-muted">  (<%= @articlelists.length%>)</span></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="mixlist"  <% if @list&&(@type.include?'mix') %> checked<% end %> onchange="research()" />综合集 <span class="text-muted"> (<%= @mixlists.length%>)</span></label>
        </div>
      </div>
    </section>
  </aside>

  <article class="col-sm-9">
    <h3 class="page-header">
      搜索结果:<%= @title %> <span class="text-muted">(共<%= @results.length %>项)</span>
      <span class="wm-quick-link">
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <section>
     <% @results.each do |result| %>
      <div>
        <h4>[<%= result.class %>] <%= link_to result.title,result %></a></h4>
       <!-- 
       <p class="wm-pub-metadata">
          <a href="users/1.html">soliton</a> 发布于 2013-09-14 21:27
          <span class="pull-right">4个标签 | 1个单子 | 2人喜欢 | 2条评论</span>
        </p>-->
        <p><%= result.summary[0,200] %>
           <a href="/books/<%= result.id %>.html">继续阅读</a>
        </p>
      </div>
      <hr/>
     <% end %>
    </section>

    <section class="text-center">
     <ul class="pagination">
       <li class="disabled"><a href="上一页">&laquo;</a></li>
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#">7</a></li>
       <li><a href="#">8</a></li>
       <li><a href="#">9</a></li>
       <li><a href="#">10</a></li>
       <li><a href="#" title="下一页">&raquo;</a></li>
     </ul>
    </section>
  </article>

</main>