<% content_for :head do %>
   <title>搜索:<%= @title %> | 万门大学</title>
<% end %>
<main class="container" role="main">
  <aside class="col-sm-3">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-check"></span> 筛选条件
    </h3>
    <section>
      <div class="checkbox wm-search-type">
        <label>
          <input type="checkbox" id="alltypes" <% if @type.length == 3 %> checked<% end %> />所有普通类型
          <span class="badge pull-right"><%= @books.length+@videos.length+@articles.length %></span>
        </label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="book" <% if @type&&(@type.include?'book') %> checked<% end %> />图书
            <span class="badge pull-right"><%= @books.length %></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="video" <% if @type&&(@type.include?'video') %> checked<% end %> />视频
            <span class="badge pull-right"><%= @videos.length %></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="article" <% if @type&&(@type.include?'article') %> checked<% end %> />经验贴
            <span class="badge pull-right"><%= @articles.length %></span>
          </label>
        </div>
      </div>
    </section>

    <section>
      <div class="checkbox wm-search-type">
        <label>
          <input type="checkbox" id="alllists" <% if @list.length == 4 %> checked<% end %> />所有单子类型
          <span class="badge pull-right"><%= @booklists.length+@videolists.length+@articlelists.length+@mixlists.length %></span>
        </label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="booklist"  <% if @list&&(@list.include?'book') %> checked<% end %> />书单
            <span class="badge pull-right"><%= @booklists.length %></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="videolist" <% if @list&&(@list.include?'video') %> checked<% end %> />视频集
            <span class="badge pull-right"><%= @videolists.length %></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="articlelist" <% if @list&&(@list.include?'article') %> checked<% end %> />帖子集
            <span class="badge pull-right"><%= @articlelists.length %></span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="mixlist" <% if @list&&(@list.include?'mix') %> checked<% end %> />综合集
            <span class="badge pull-right"><%= @mixlists.length %></span>
          </label>
        </div>
      </div>
    </section>
    <% if @tags!=[] %>
    <section>
      <div class="checkbox wm-search-type">
         <label>标签 <span class="badge pull-right"><%= @tags.length %></span></label>
      </div>
      <div class="wm-lg-left">
      <% @tags.each do |t| %>
        <a class="btn btn-default btn-xs" href="/tags/<%= t.id %>"><%= t.name %></a>
      <% end %>
      </div>
    </section>
    <% end %>
  </aside>

  <article class="col-sm-9">
    <h3 class="page-header">
      搜索结果 <%= @title %><span class="text-muted">(共<%= @allresults.length+@tags.length %>项)</span>
      <span class="wm-quick-link">
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <section>
     <% @results.each do |result| %>
      <div>
        <h4>
        <% case result.class.name
        when 'Book'%>
          [图书]
       <% when 'Video'%>
          [视频]
       <% when 'Article' %>
          [经验贴]
       <% when 'List' %>
          <% if result.list_type == BOOKLIST %>
          [书单]
          <% elsif result.list_type == VIDEOLIST %>
          [视频集]
          <% elsif result.list_type == ARTICLELIST %>
          [帖子集]
          <% else %>
          [综合集]
          <% end %>
       <%  else %>
          [Undefined]
       <%  end %>
        <%= link_to result.title,result %>
        </h4>
        <p class="wm-pub-metadata">
          <a href="/scholars/<%= result.user[:id] %>.html"><%= result.user[:name] %></a> 发布于 <%= result.user[:created_at].strftime('%b %d, %Y %H:%M') %>
          <span class="pull-right"><%=result.taglinks.length %>个标签 | <%=result.links.length %>个单子 | <%=result.likes.length %>人喜欢 | <%=result.comments.length %>条评论</span>
        </p>
        <p><%= result.summary[0,200] %>
          <%= link_to "继续阅读&raquo;",result %>
        </p>
      </div>
      <hr/>
     <% end %>
     <% @tags.each do |tag| %>
      <div>
       标签： <a href="/tags/<%= tag.id %>"><%= tag.name %></a> 
          <%= tag.taglinks.length%>个对应内容
          <%= tag.follows.length%>个关注
          <%= tag.likes.length%>个喜欢
      </div>
      <hr/>
      <% end %>
    </section>

    <section class="text-center">
     <ul class="pagination">
       <% for i in 0..@numberofpages %>
        <li <% if (i == @page) %>class="active"<% end %>><a href="?page=<%= i+1%>"><%= i+1%></a></li>
       <% end %>
     </ul>
    </section>
  </article>

</main>

<script type="text/javascript">
  $(document).ready(function() {
    var href = window.location.href.replace(/&page=\d/, '');

    $('.pagination a').on('click', function() {
      if(!$(this).parent().hasClass('active')) {
        window.location = href + '&page=' + $(this).text();
      }
      return false;
    });

    $('.wm-lg-left :checkbox').on('change', function() {
      var id = $(this).attr('id'),
        title = href.match(/&title=.+$/),
        type = [],
        list = [];
      if(this.checked) {
        if(id.slice(-4) != 'list') {
          type.push(id);
        } else {
          list.push(id.slice(0, -4));
        }
      }
      window.location = '/search?type=' + type.join() + '&list=' + list.join() +
        (title ? title : '');
      return false;
    });

    $('.wm-search-type :checkbox').on('click', function() {
      $(this).parentsUntil('aside').find(':checkbox')
        .prop('checked', (this.checked ? true : false));
    });

    $('.wm-lg-left :checkbox').on('click', function() {
      $(this).parentsUntil('aside').find('.wm-search-type :checkbox')
       .prop('checked', (this.checked ? true : false));
    });
  });
</script>
