<% content_for :head do %>
   <title>搜索:<%= @title %> | 万门大学</title>
<% end %>
<main class="container" role="main">
  <aside class="col-sm-3">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-check"></span> 筛选条件
    </h3>
    <section>
      <div class="checkbox wm-search-type">
        <label><input type="checkbox" checked/>普通类型</label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label><input type="checkbox" id="book" checked/>图书</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="video" checked/>视频</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="article" checked/>经验贴</label>
        </div>
      </div>
    </section>

    <section>
      <div class="checkbox wm-search-type">
        <label><input type="checkbox" checked/>单子类型</label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label><input type="checkbox" id="book_list" checked/>书单</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="video_list" checked/>视频集</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="article_list" checked/>帖子集</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="multi_list" checked/>综合集</label>
        </div>
      </div>
    </section>

    <section>
      <div class="checkbox wm-search-type">
        <label><input type="checkbox" id="tag" checked/>分类标签</label>
      </div>
      <div class="wm-lg-left">
        <div class="checkbox">
          <label><input type="checkbox" id="tag_mathematics" checked/>数学</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="tag_physics" checked/>物理</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="tag_computer" checked/>计算机</label>
        </div>
      </div>
    </section>
  </aside>

  <article class="col-sm-9">
    <h3 class="page-header">
      搜索结果:<%= @title %> <span class="text-muted">(共203项)</span>
      <span class="wm-quick-link">
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <section>
      <div>
        <h4>[图书] <a href="books/1.html">枪炮、病菌与钢铁</a></h4>
        <p class="wm-pub-metadata">
          <a href="users/1.html">soliton</a> 发布于 2013-09-14 21:27
          <span class="pull-right">4个标签 | 1个单子 | 2人喜欢 | 2条评论</span>
        </p>
        <p>(本书评由杨洵默先生完成，感谢他对万门大学的无私帮助。）首先这是一本畅销书，所以完全你无需担心看不懂。作者杰拉德·戴蒙德（Jared Diamond)是UCLA的地理学教授，一个出色的鸟类学家，不过却写了这样一本历史书。看似奇怪，其实他想要回答的问题是必须要有他那样广博的知识才能处理的。全书主题在前言就清楚的提出来了，戴蒙德想回答一个恐怕很多人都曾经想过的问题：大概十万年前现代智人走出非洲，一万年前最终进入美洲从而占据了各宜居大洲 ... <a href="books/1.html">继续阅读</a>
        </p>
      </div>
      <hr/>
      <div>
        <h4>[视频] <a href="videos/1.html">硅谷的企业精神与创新</a></h4>
        <p class="wm-pub-metadata">
          <a href="users/1.html">soliton</a> 发布于 2013-09-14 21:27
          <span class="pull-right">2个标签 | 1个单子 | 2人喜欢 | 2条评论</span>
        </p>
        <p>斯坦福大学的企业思想领袖论坛由每周一次的系列演讲构成，其演讲者为来自商业，金融，科技，教育，和慈善领域的具有创新精神的领导们。他们将与世界各地有抱负的企业家们一起分享他们的见解。

兰迪·可米萨为硅谷资深风险投资人，早年从事过多种行业，积累了丰富的社会经验，其A计划与B计划理论不论对新兴企业还是成熟企业都有积极的作用 ... <a href="videos/1.html">继续阅读</a>
        </p>
      </div>
      <hr/>
      <div>
        <h4>[经验贴] <a href="articles/1.html">万门图片小课第一弹：轻松理解“分部积分”</a></h4>
        <p class="wm-pub-metadata">
          <a href="users/1.html">soliton</a> 发布于 2013-09-15 18:45
          <span class="pull-right">2个标签 | 1个单子 | 2人喜欢 | 2条评论</span>
        </p>
        <p>觉得分部积分很奇怪？不，其实它一点儿也不奇怪，它非常的合理甚至说是美丽。它在理工科公式化简中有极广泛的应用。它的完全体是这样的：如果你把自变量$x$当做参数，$f(x)$和$g(x)$当做两个坐标的话，就会画出下面的图。就好像这是一张二维地图，地图上有一个旅行者戴着手表走路，手表的读数是$x$。当$x$变化，$f(x)$和$g(x)$同时改变，所以我们说$x$是参数。而矩形面积之差又被分割成两块曲面，分别叫做1和2。且1和2分别可以用切割的办法，写成微元的叠加（正如微积分用切割的办法得到曲面面积）... <a href="articles/1.html">继续阅读</a>
        </p>
      </div>
    </section>

    <section class="text-center">
     <ul class="pagination">
       <li class="disabled"><a href="上一页">&laquo;</a></li>
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#">7</a></li>
       <li><a href="#">8</a></li>
       <li><a href="#">9</a></li>
       <li><a href="#">10</a></li>
       <li><a href="#" title="下一页">&raquo;</a></li>
     </ul>
    </section>
  </article>

</main>
<div class="container">
	<div class="page-header">
      <h1>搜索结果: <%= @title %></h1>
    </div>
    <div class="row">
    	<div class="col-xs-4">
    		普通类型
    		<ul>
	    		<li><input type="checkbox" id="book">图书</li>
	    		<li><input type="checkbox" id="video">视频</li>
	    		<li><input type="checkbox" id="article">经验贴</li>
	    	</ul>
	    	单子类型
    		<ul>
	    		<li><input type="checkbox" id="booklist">书单</li>
	    		<li><input type="checkbox" id="videolist">视频集</li>
	    		<li><input type="checkbox" id="articlelist">帖子集</li>
	    		<li><input type="checkbox" id="multilist">综合集</li>
	    	</ul>
	    	标签
	    	<ul>
	    		<li><input type="checkbox" id="0" checked="true">所有</li>
	    		<li><input type="checkbox" id="1">物理</li>
	    	</ul>
    	</div>
        <div class="col-xs-8">
        	<% if @books %>
				<% @books.each do |book| %>
				  <div class="row">
		            <div class="col-xs-4">
		              <a href="/books/<%= book.id %>" class="thumbnail">
		                 <img src="<%= book.cover %>!medium" width="360" alt="">
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
		              <p><%= book.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
			<% if @videos %>
				<% @videos.each do |video| %>
				 	<div class="row">
		            <div class="col-xs-4">
		              <a href="/videos/<%= video.id %>" class="thumbnail">
		                 <img src="<%= video.cover %>!medium" width="360" alt="">
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><%= video.title %></h3>
		              <p><%= video.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
			<% if @articles %>
				<% @articles.each do |article| %>
				 	<div class="row">
		            <div class="col-xs-4">
		              <a href="/articles/<%= article.id %>" class="thumbnail">
		              	<%= article.title %>
		              </a>
		            </div>
		            <div class="col-xs-8">
		              <h3><%= article.title %></h3>
		              <p><%= article.summary[0,200] %></p>
		            </div>
		          </div>
				<% end %>
			<% end %>
    	</div>
 	 </div>
</div>