<main class="container wx-sign" role="main">
  <div class="col-md-4 col-md-offset-1">
    <h4 class="wx-sign-in">欢迎登录万门大学</h4>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class=>"form-horizontal",:role=>"form") do |f| %>
      <div class="form-group">
        <label class="sr-only control-label" for="user_email">邮箱</label>
        <div class="col-md-10">
          <%= f.email_field :email, :autofocus => true,:class=>"form-control", :placeholder=>"邮箱", :title=>"请输入你的帐号邮箱" %>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only control-label" for="user_password">密码</label>
        <div class="col-md-10">
          <%= f.password_field :password,:class=>"form-control", :placeholder=>"密码", :title=>"请输入你的帐号密码" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          <div class="checkbox">
            <label><%= f.check_box :remember_me %>记住我 (下次自动登录)</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
        	<%= f.submit "登陆",:class=> "btn btn-default" %>
          <button class="btn btn-default col-sm-offset-1" type="button"><a href="/users/password/new">忘记密码?</a></button>
          <br><a href="/users/confirmation/new">没收到确认邮件?</a>
        </div>
      </div>    
	<% end %>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h4 class="wx-sign-in">你还可以用第三方帐号登录</h4>
    <a class="btn btn-primary wx-sign-button" href="/users/auth/renren">使用人人帐号登录</a>
    <a class="btn btn-success wx-sign-button" href="/users/auth/douban">使用豆瓣帐号登录</a>
    <a class="btn btn-danger wx-sign-button" href="/users/auth/weibo">使用新浪微博登录</a>
    <p>
      还没有帐号？<a href="/users/sign_up">马上注册</a>
    </p>
  </div>
</main>