<% content_for :head do %>
   <title>经验贴 | 万门大学</title>
<% end %>
<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-calendar"></span> 推荐经验贴
      <a class="wm-quick-link" href="/search?type=article">查看全部</a>
    </h3>
    <section class="wm-article-list">
      <% @best6.each do |article| %>
      <div>
        <h4><a href="/articles/<%= article.id %>.html"><%= article.title %></a></h4>
        <p class="wm-pub-metadata">
          <a href="/users/<%= article.user[:id] %>"><%= article.user[:name] %></a> 发布于 <%= article.updated_at.strftime('%b %d, %Y %H:%M') %>
          <span class="pull-right"><%= article.taglinks.length %>个标签 | <%= article.links.length %>个集合 | <%= article.likes.length %>人喜欢 | <%= article.comments.length %>个评论</span>
        </p>
        <p><%= article.summary %><a href="/articles/<%= article.id %>.html">继续阅读</a>
        </p>
      </div>
      <hr/>
      <% end %>
    </section>

    <!--
    <section class="text-center">
     <ul class="pagination">
       <li class="disabled"><a href="上一页">&laquo;</a></li>
       <li class="active"><a href="#">1</a></li>
       <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
       <li><a href="#">5</a></li>
       <li><a href="#">6</a></li>
       <li><a href="#">7</a></li>
       <li><a href="#">8</a></li>
       <li><a href="#">9</a></li>
       <li><a href="#">10</a></li>
       <li><a href="#" title="下一页">&raquo;</a></li>
     </ul>
    </section>
    -->
  </article>

  <aside class="col-sm-4">
    <section>
      <h3 class="page-header">
        <span class="glyphicon glyphicon-tasks"></span> 最新经验贴
        <a class="wm-quick-link" href="/search?type=article">查看全部</a>
      </h3>
      <ol class="wm-list-popular">
        <% @newest10.each do |a| %>
            <li><a href="/articles/<%=a.id %>.html"><%=a.title %></a></li>
        <% end %>
      </ol>
    </section>

    <!--
    <section>
      <h3 class="page-header">
        <span class="glyphicon glyphicon-stats"></span> 热门标签
        <a class="wm-quick-link" href="">查看全部</a>
      </h3>
      <div class="wm-tags-popular">
        【<a class="wm-tag-category" href="">物理</a>】
        <a href="">牛顿力学</a> |
        <a href="">统计物理</a> |
        <a href="">量子场论</a>
      </div>
      <div class="wm-tags-popular">
        【<a class="wm-tag-category" href="">计算机</a>】
        <a href="">编程</a> |
        <a href="">机器学习</a> |
        <a href="">网页设计</a>
      </div>
      <div class="wm-tags-popular">
        【<a class="wm-tag-category" href="">数学</a>】
        <a href="">微积分</a> |
        <a href="">线性代数</a> |
        <a href="">数学物理方程</a>
      </div>
      <div class="wm-tags-popular">
        【<a class="wm-tag-category" href="">外国语</a>】
        <a href="">英语</a> |
        <a href="">法语</a> |
        <a href="">希伯来语</a>
      </div>
      <div class="wm-tags-popular">
        【<a class="wm-tag-category" href="">文学</a>】
        <a href="">中国古典文学</a> |
        <a href="">文学史</a> |
        <a href="">希腊文学</a>
      </div>
    </section>
    -->
  </aside>
</main>
