<% content_for :head do %>
   <title><%= @article.title %> | 万门大学</title>
<% end %>

<main class="container" role="main">
<article class="col-sm-8">
    <h3 class="page-header">
        <span class="wm-title">
            <%= @article.title %>
        </span>
        <span class="wm-quick-link">
            <% if current_user && current_user[:role]>= SCHOLAR %>
                <%= link_to '修改', edit_article_path(@article) %>  |
            <% end %>
            <%= link_to '返回', articles_path %>  |
            <% if current_user && current_user[:role]>= SUPERADMIN %>
                <%= link_to '删除', articles_path(@article), method: :delete, data: { confirm: '请确认要删除此经验贴?' } %>
            <% end %>
        </span>
    </h3>
    <p class="wm-pub-metadata">
        <span><%= @article.user[:name] %></span> 发布于 <%= @article[:updated_at].strftime('%b %d, %Y %H:%M')  %>
        <span class="pull-right"><%= @taglinks.length %>个标签 | <%= @links.length %>个单子 | <%= @likes.length %>人喜欢 | <%= @comments.length %>条评论</span>
    </p>

    <section class="wm-indent">
        简介:<%= @article.summary %>
        <a href="<%= @article.url %>">查看来源</a>
    </section>
    <section class="wm-indent">
        <%= @article.content %>
    </section>

    <section class="wm-metadata">
        <div>
            <span>标签</span>
            <%= render :partial => 'taglinks/taglinks' %>
            <%= render :partial => 'taglinks/form' %>
            <br/>
            <span>单子</span>
            <%= render :partial => 'links/links' %>
            <%= render :partial => 'links/form' %>
            <br/>
            <span>评分</span>
            <%= render :partial => 'rates/rates' %>
            <%= render :partial => 'rates/form' %>

            <%= render :partial => 'likes/form' %>
        </div>
    </section>
    <hr/>
    <%= render :partial => 'comments/shares' %>  
    <%= render :partial => 'comments/comments' %>
    <hr/>
    <%= render :partial => 'comments/form' %>
  </article>
  <%= render :partial => 'articles/recommend' %>
</main>

<% content_for :bottom_script do %>
    <%= render :partial => 'layouts/markdown' %>
    <%= render :partial => 'layouts/raty' %>
    <%= render :partial => 'layouts/rails' %>
<% end %>
