<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @article.summary %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>
<p>
  <strong>Creator:</strong>
  <%= @article.user[:name] %>
</p>
<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<%= render :partial => 'taglinks/taglinks' %>
<%= render :partial => 'taglinks/form' %>
<%= render :partial => 'likes/likes' %>
<%= render :partial => 'likes/form' %>

<%= render :partial => 'rates/rates' %>
<%= render :partial => 'rates/form' %>
<h3>All comments:</h3>
<%= render :partial => 'comments/comments' %>
<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
