<% content_for :head do %>
   <title><%= @article.title %> | 万门大学</title>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="page-header">
        <h3><%= @article.title %></h3>
        <p><a href="/scholars/<%= @article.user[:id]%>"><%= @article.user[:name] %></a>修改于<%= @article[:updated_at].strftime('%b %d, %Y %H:%M')  %>
        
        <% if current_user&& current_user[:role]>= SCHOLAR %>
          <%= link_to '修改', edit_article_path(@article) %>  |
        <% end %>
          <%= link_to '返回', articles_path %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    作者：<%= @article.author %>
    简要：<%= @article.summary %>
    正文：<%= @article.content %>
    链接：<%= @article.url %>
  </div>
  <div class="col-xs-8">
    单子
    <%= render :partial => 'links/links' %>
    <%= render :partial => 'links/form' %>
    <br/>
    标签
    <%= render :partial => 'taglinks/taglinks' %>
    <%= render :partial => 'taglinks/form' %>
    <br/>
    喜欢
    <%= render :partial => 'likes/likes' %>
    <%= render :partial => 'likes/form' %>
    <br/>
    推荐指数
    <%= render :partial => 'rates/rates' %>
    <%= render :partial => 'rates/form' %>
  </div>
  <div class="col-xs-8"> 
    <%= render :partial => 'comments/comments' %>
    <%= render :partial => 'comments/form' %>
  </div>
</div>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
    tex2jax: {inlineMath: [["$", "$"], ["\\(", "\\)"]]}
  });
</script>
<script type="text/javascript">
  (function() {
    var QUEUE = MathJax.Hub.queue,
      math = null;

    QUEUE.Push(function() {
      math = MathJax.Hub.getAllJax('#wmd-preview')[0];
    });

    window.UpdateMath = function(TeX) {
      $('wmd-preview').html(TeX);
      MathJax.Hub.Queue(['Typeset', math, 'wmd-preview']);
    }

    $('#wmd-input').keypress(function(event) {
      UpdateMath($(this).val());
    });

  })();
</script>
<script type="text/javascript">
  (function () {
    var converter = Markdown.getSanitizingConverter();
    converter.hooks.chain('preBlockGamut', function(text, rbg) {
      return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm,
        function (whole, inner) {
          return "<blockquote>" + rbg(inner) + '</blockquote>\n';
      });
    });

    var editor = new Markdown.Editor(converter, null, {strings: Markdown.local.zh});
    editor.run();
  })();
</script>
<script src="/assets/jquery.raty.js"></script>
<script>
    $(document).ready(function() {
      $('#rate_button').hide();
      $('#star').raty({
        score: function() {
          return $(this).attr('data-score');
        },
        click: function(score, evt) {
          $('#rate')[0].value = score;
          $('#rate_button').show();
        }
      });
    });
    function addTag(){
      $('#tagForm').show();
    }
    function hideTag(){
      $('#tagForm').hide();
    }
    function addList(){
      $('#listForm').show();
    }
    function hideList(){
      $('#listForm').hide();
    }
</script>
