<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <a href="/uploader?return_url=<%=request.original_url%>">上传封面</a>
  </p>
  <div class="field">
    <% if params[:url] %>
      <img src="<%= upyun_url+ params[:url] %>!medium">
       <%= f.text_field :cover, :value=> upyun_url+params[:url],:type=>:hidden%>
    <% else %>
       或者<%= f.text_field :cover,:placeholder=>'添加图片URL'%>
    <% end %>
  </div>
  <%= f.text_field :user_id, :type=>:hidden, :value=>current_user[:id]%>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :lecturer %><br>
    <%= f.text_field :lecturer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
