 <% content_for :head do %>
   <title>视频 | 万门大学</title>
<% end %>
 <div class="container">
  <div class="page-header">
    <h1>万门视频</h1>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <% @newestVideolist.each do |list|%>
            <div class="col-xs-4">
              <a href="/videos/<%= list.links[0].linkable.id %>.html" class="thumbnail">
                 <img src="<%= list.links[0].linkable.cover %>!medium" width="160" height="120" alt="">
              </a>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4">
     <div class="row">
        <% @newest.each do |video| %>  
          <div class="col-xs-12">
            <a href="/videos/<%= video.id %>" class="thumbnail">
               <img src="<%=video.cover %>!medium" alt="">
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>
</div>

<%= link_to 'New Video', new_video_path %>
