<% content_for :head do %>
   <title><%= @video.title %> | 万门大学</title>
<% end %>
<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title"><%= @video.title %></span>
      <span class="wm-quick-link">
        <%= link_to '修改', edit_video_path(@video) %>  |
        <%= link_to '返回', videos_path %>
      </span>
    </h3>
    <section class="row wm-gallery">
      <figure class="col-sm-4 wm-show-video">
          <a href="#" class="thumbnail">
             <img src="<%= @video.cover %>!big" alt="<%= @video.title %>" title="<%= @video.title %>">
          </a>
          <figcaption>
            <a href="<%= @video.url %>">观看视频</a>
          </figcaption>
        </figure>
      <div class="col-sm-8 wm-metadata">
        <span>主讲人</span> <%= @video.lecturer %> <br/>
        <span>学校</span> <br/>
        <span>时长</span> <br/>
        <hr/> 
            <%= render :partial => 'taglinks/taglinks' %>
            <%= render :partial => 'taglinks/form' %>
        <br/>

            <%= render :partial => 'links/links' %>
            <%= render :partial => 'links/form' %>
        <br/>
            <%= render :partial => 'rates/rates' %>
            <%= render :partial => 'rates/form' %>
        <br/>
            <%= render :partial => 'likes/likes' %>
            <%= render :partial => 'likes/form' %>
      </div>
    </section>

    <section class="wm-video">
      <h3>
        <%= @video.title %>
        <button class="close" type="button">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </h3>
      <iframe src="http://player.youku.com/"></iframe>
    </section>

    <hr/>

    <section class="wm-indent">
      <%= @video.summary %>
    </section>

    <hr/>

    <section class="wm-book-comments">
      <div class="wm-sns-share">
        <span class="text-muted">分享到</span>
        <img src="/assets/sns/renren.png" height="24" alt="人人" title="分享到人人"/>
        <img src="/assets/sns/douban.png" height="24" alt="豆瓣" title="分享到豆瓣"/>
        <img src="/assets/sns/sina.png" height="24" alt="新浪微博" title="分享到新浪微博"/>
        <img src="/assets/sns/qzone.png" height="24" alt="QQ空间" title="分享到QQ空间"/>
        <img src="/assets/sns/tencent.png" height="24" alt="腾讯微博" title="分享到腾讯微博"/>
        <a class="btn btn-primary btn-sm wm-quick-link" href="">发表评论</a>
      </div>
    </section>
    <%= render :partial => 'comments/comments' %>
    <hr/>
    <%= render :partial => 'comments/form' %>
  </article>

  <aside class="col-sm-4">
    <section class="wm-recommend">
      <h3 class="page-header">
        <span class="glyphicon glyphicon-plus-sign"></span> 同主题推荐
        <a class="wm-quick-link" href="">查看全部</a>
      </h3>
      <div class="row">
        <figure class="col-sm-6">
          <a class="thumbnail" href="">
            <img src="http://wanmen.b0.upaiyun.com/2013/09/af58525f19423673842fec1fe9958430.jpg" alt="" title="自由主义"/>
          </a>
          <figcaption>
            <a href="" title="自由主义">自由主义</a>
          </figcaption>
        </figure>
        <figure class="col-sm-6">
          <a class="thumbnail" href="">
            <img src="http://wanmen.b0.upaiyun.com/2013/09/87a6dc1e89458fe81a9603028d4139af.jpg" alt="" title="中国传统生命礼俗"/>
          </a>
          <figcaption>
            <a href="" title="中国传统生命礼俗">中国传统生命礼俗</a>
          </figcaption>
        </figure>
      </div>
      <div class="row">
        <figure class="col-sm-6">
          <a class="thumbnail" href="">
            <img src="http://wanmen.b0.upaiyun.com/2013/09/d7dc0a2fab3257f5e4678a39ca0b60ba.jpg" alt="" title="太平洋岛屿世界"/>
          </a>
          <figcaption>
            <a href="" title="太平洋岛屿世界">太平洋岛屿世界</a>
          </figcaption>
        </figure>
        <figure class="col-sm-6">
          <a class="thumbnail" href="">
            <img src="http://wanmen.b0.upaiyun.com/2013/09/ea0f63bbc0479a8a39056910ba67163e.jpg" alt="" title="科学在文化中的定位和挑战"/>
          </a>
          <figcaption>
            <a href="" title="科学在文化中的定位和挑战">科学在文化中的定位和挑战</a>
          </figcaption>
        </figure>
      </div>
    </section>
  </aside>
</main>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
    tex2jax: {inlineMath: [["$", "$"], ["\\(", "\\)"]]}
  });
</script>
<script type="text/javascript">
  (function() {
    var QUEUE = MathJax.Hub.queue,
      math = null;

    QUEUE.Push(function() {
      math = MathJax.Hub.getAllJax('#wmd-preview')[0];
    });

    window.UpdateMath = function(TeX) {
      $('wmd-preview').html(TeX);
      MathJax.Hub.Queue(['Typeset', math, 'wmd-preview']);
    }

    $('#wmd-input').keypress(function(event) {
      UpdateMath($(this).val());
    });

  })();
</script>
<script type="text/javascript">
  (function () {
    var converter = Markdown.getSanitizingConverter();
    converter.hooks.chain('preBlockGamut', function(text, rbg) {
      return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm,
        function (whole, inner) {
          return "<blockquote>" + rbg(inner) + '</blockquote>\n';
      });
    });

    var editor = new Markdown.Editor(converter, null, {strings: Markdown.local.zh});
    editor.run();
  })();
</script>
<script src="/assets/jquery.raty.js"></script>
<script>
    $(document).ready(function() {
      $('#rate_button').hide();
      $('#star').raty({
        score: function() {
          return $(this).attr('data-score');
        },
        click: function(score, evt) {
          $('#rate')[0].value = score;
          $('#rate_button').show();
        }
      });
    });
    function addTag(){
      $('#tagForm').show();
    }
    function hideTag(){
      $('#tagForm').hide();
    }
    function addList(){
      $('#listForm').show();
    }
    function hideList(){
      $('#listForm').hide();
    }
</script>