<% content_for :head do %>
   <title><%= @video.title %> | 万门大学</title>
<% end %>

<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title"><%= @video.title %></span>
      <span class="wm-quick-link">
        <% if can? :edit, @video %>
        <%= link_to '修改', edit_video_path(@video) %>  |
        <% end %>
        <%= link_to '返回', videos_path %>
        <% if can? :destroy, @video %>
         | <%= link_to '删除', video_path(@video), method: :delete, data: { confirm: '请确认要删除此视频?'} %>
        <% end %>
      </span>
    </h3>
    <section class="row wm-gallery">
      <figure class="col-sm-4 col-xs-6 wm-show-video">
        <a href="<%= @video.url %>" class="thumbnail">
          <%= image_tag(@video.cover.url("medium")) %>
        </a>
        <figcaption>
          <a href="<%= @video.url %>">观看视频</a>
        </figcaption>
      </figure>
      <div class="col-sm-8 col-xs-6 wm-metadata">
        <span>主讲人</span> <%= @video.lecturer %> <br/>
        <span>学校</span> <br/>
        <span>时长</span> <br/>
        <hr/> 
            <%= render :partial => 'taglinks/taglinks' %>
            <%= render :partial => 'taglinks/form' %>
        <br/>

            <%= render :partial => 'links/links' %>
            <%= render :partial => 'links/form' %>
        <br/>
            <%= render :partial => 'rates/rates' %>
            <%= render :partial => 'rates/form' %>
        <br/>
            <%= render :partial => 'likes/likes' %>
            <%= render :partial => 'likes/form' %>
      </div>
    </section>

    <section class="wm-video">
      <h3>
        <%= @video.title %>
        <button class="close" type="button">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </h3>
      <iframe src="http://player.youku.com/"></iframe>
    </section>

    <hr/>

    <section class="wm-indent">
      <%=raw Kramdown::Document.new(@video.summary).to_html%>
    </section>
    <hr/>
    <%= render :partial => 'comments/shares' %>  
    <%= render :partial => 'comments/comments' %>
    <hr/>
    <%= render :partial => 'comments/form' %>
  </article>
  <%= render :partial => 'videos/recommend' %>
</main>

<% content_for :bottom_script do %>
  <%= render :partial => 'layouts/markdown' %>
  <%= render :partial => 'layouts/raty' %>
  <%= render :partial => 'layouts/rails' %>
<% end %>
