<% content_for :head do %>
  <title>万门大学</title>
<% end %>

    <main class="container" role="main">
      <article class="container">
        <wb:follow-button uid="3274625642" type="red_1" width="67" height="24" ></wb:follow-button>
        <section class="wm-banner">
          <div>
            <img src="<%= asset_path "wm-banner.jpg" %>" alt=""/>
            <a class="btn btn-primary btn-lg" href=<%=joinus_path%>>加入我们</a>
          </div>
        </section>

        <section class="container wm-projects">

          <div class="col-sm-3">
            <figure>
              <img src="<%= asset_path "projects/courses.png" %>" height="50" alt=""/>
              <figcaption>万门课堂</figcaption>
            </figure>
            <p>大学要发展我们的综合知识能力，要引领我们去追求富有意义的人生。万门课堂，让这些成为可能。</p>
          </div>

          <div class="col-sm-3">
            <figure>
              <img src="<%= asset_path "projects/library.png" %>" height="50" alt=""/>
              <figcaption>万门图书馆</figcaption>
            </figure>
            <p>网络时代，信息爆炸，观点横流。万门图书馆——一个系统精炼的知识库，一个汇集我们自己声音的平台。</p>
          </div>

          <div class="col-sm-3">
            <a href=<%=xclubs_path%>>
              <figure>
                <img src="<%= asset_path "projects/wanmenX.png" %>" height="50" alt=""/>
                <figcaption>万门大学X</figcaption>
              </figure>
            </a>
            <p>静心笃学，自由讨论，积极分享——我们的大学需要这样一种氛围，我们的校园需要这样一个社团。</p>
          </div>

          <div class="col-sm-3">
            <figure>
              <img src="<%= asset_path "projects/participant.png" %>" height="50" alt=""/>
              <figcaption>我与万门</figcaption>
            </figure>
            <p>万门大学属于每一个人。一句真心的称赞，一番中肯的批评，这些都激励并鞭策着我们不断前进。</p>
          </div>
        </section>
      </article>
    </main>

