<div class="container">
  <div class="page-header">
    <h2>万门书库</h2>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <h3>精选推荐</h3>
      <div class="row">
          <% @recommend.each do |link| %>
            <div class="col-xs-4">
              <a href="/books/<%=link.linkable.id %>" class="thumbnail">
                 <img src="<%=link.linkable.cover %>!big" alt="">
              </a>
            </div>
          <% end %>
      </div>
      <hr>
      <h3>最新图书</h3>
      <div class="row">
        <div class="row">
          <% @newest.each do |book| %>
            <div class="col-xs-4">
              <a href="/books/<%=book.id %>" class="thumbnail">
                 <img src="<%=book.cover %>!big" alt="">
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
       <% @popular.each do |book| %>
       <p>
            <a href="/books/<%=book.id %>">
               <%=book.title %>
            </a>
       </p>
        <% end %>
    </div>
  </div>

  <div class="page-header">
    <h2>Book Lists</h2>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/360x248" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
       <a href="#" class="thumbnail">
         <img src="data:image/png;base64," data-src="holder.js/360x508" alt="">
       </a>
    </div>
  </div>
</div>
</div>

<%= link_to 'New Book', new_book_path %>
