<% content_for :head do %>
   <title>图书 | 万门大学</title>
<% end %>

<main class="container" role="main">
  <article class="col-sm-8">
    <section class="wm-gallery">
      <h3 class="page-header">
        <span class="glyphicon glyphicon-star"></span> 精选书单
        <a class="wm-quick-link" href="/search?list=book">查看全部</a>
      </h3>
      <div class="row">
          <% @bestBooklist.each do |booklist| %>
          <figure class="col-sm-4">
            <a href="/lists/<%=booklist.id %>.html" class="thumbnail">
               <img src="<%=booklist.links[0].linkable.cover %>!medium" alt="">
            </a>
            <figcaption>
              <a href="/lists/<%=booklist.id %>.html"><%=booklist.title%></a>
            </figcaption>
          </figure>
        <% end %>
      </div>
      <h3 class="page-header">
        <span class="glyphicon glyphicon-star"></span> 精选图书
        <a class="wm-quick-link" href="/search?type=book">查看全部</a>
      </h3>
      <div class="row">
        <% @best.each do |book| %>
        <figure class="col-sm-4">
          <a class="thumbnail" href="/books/<%=book.id %>.html">
            <img src="<%=book.cover %>!medium" alt="<%=book.title %>" title="<%=book.title %>"/>
          </a>
          <figcaption>
            <a href="/books/<%=book.id %>.html" title="<%=book.title %>"><%=book.title %></a>
          </figcaption>
        </figure>
        <% end %>
      </div>
    </section>

    <section class="wm-gallery">
      <h3 class="page-header">
        <span class="glyphicon glyphicon-calendar"></span> 最新图书
        <a class="wm-quick-link" href="/search?type=book">查看全部</a>
      </h3>
      <div class="row">
         <% @newest.each do |book| %>
          <figure class="col-sm-4">
            <a class="thumbnail" href="/books/<%=book.id %>.html">
              <img src="<%=book.cover %>!medium" alt="" title="<%=book.title %>"/>
            </a>
            <figcaption>
              <a href="/books/<%=book.id %>.html" title="<%=book.title %>"><%=book.title %></a>
            </figcaption>
          </figure>
        <% end %>
      </div>
    </section>
  </article>

  <aside class="col-sm-4">
    <section>
      <h3 class="page-header">
        <span class="glyphicon glyphicon-tasks"></span> 热门书单
        <a class="wm-quick-link" href="/search?list=book">查看全部</a>
      </h3>
      <ol class="wm-list-popular">
        <% @popularBooklist.each do |list| %>
         <li><a href="/lists/<%=list.id %>.html"><%=list.title %></a></li>
        <% end %>
      </ol>
    </section>

    <section>
      <h3 class="page-header">
        <span class="glyphicon glyphicon-th-list"></span> 热门图书
        <a class="wm-quick-link" href="/search?type=book">查看全部</a>
      </h3>
      <ol class="wm-list-popular">
        <% @popular.each do |book| %>
          <li><a href="/books/<%=book.id %>.html"> <%=book.title %></a></li>
        <% end %>
      </ol>
    </section>
  </aside>
</main>
