<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Dbid:</strong>
  <%= @book.dbid %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>Creator:</strong>
  <%= @book.user[:name] %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Url:</strong>
  <%= @book.url %>
</p>

<% unless @book.comments.empty? %>
  <h2><%= pluralize(@book.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @book.comments %>
    <div class="comment">
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <%=simple_format comment.content %>
    </div>
  <% end %>
  </div>
<% end %>

<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
