<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="page-header">
        <h3><%= @book.title %></h3>
        <p><a href="/scholars/<%=@book.user[:id]%>"><%= @book.user[:name] %></a>修改于<%= @book[:updated_at].strftime('%b %d, %Y %H:%M')  %>
          <%= link_to '修改', edit_book_path(@book) %>  |
          <%= link_to '返回', books_path %>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <a href="/books/<%= @book.id %>" class="thumbnail">
             <img src="<%= @book.cover %>!big" width="360" height="248"  alt="">
          </a>
        </div>
        <div class="col-xs-8">
          作者: <%= @book.author %><br/>
          链接：<%= @book.url %><br/>
          出版社: <%= @book.publisher %><br/>
          ISBN：<%= @book.isbn %><br/>
          豆瓣ID：<%= @book.dbid %><br/>
          <hr/>
          书单
          <%= render :partial => 'links/links' %>
          <%= render :partial => 'links/form' %>
          <br/>
          标签
          <%= render :partial => 'taglinks/taglinks' %>
          <%= render :partial => 'taglinks/form' %>
          <br/>
          喜欢
          <%= render :partial => 'likes/likes' %>
          <%= render :partial => 'likes/form' %>
          <br/>
          推荐指数
          <%= render :partial => 'rates/rates' %>
          <%= render :partial => 'rates/form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
     <%= @book.summary %>
  </div>
  <div class="col-xs-8">

  <%= render :partial => 'comments/comments' %>
  <%= render :partial => 'comments/form' %>
  </div>
</div>
</div>
