<% content_for :head do %>
   <title><%= @book.title %> | 万门大学</title>
   <%= javascript_include_tag :defaults %>
<% end %>
<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title"><%= @book.title %></span>
      <span class="wm-quick-link">
        <% if current_user&& current_user[:role]>= SCHOLAR %>
          <%= link_to '修改', edit_book_path(@book) %>  | 
        <% end %>
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <section class="row wm-gallery">
      <figure class="col-sm-4">
        <img src="<%= @book.cover %>!medium" alt="" title="<%= @book.title %>">
      </figure>
      <div class="col-sm-8 wm-metadata">
        <span>作者</span> <%= @book.author %> <br/>
        <span>出版社</span> <%= @book.publisher %> <br/>
        <hr/>
        <%= render :partial => 'taglinks/taglinks' %>
        <%= render :partial => 'taglinks/form' %>
        <br/>
        <%= render :partial => 'links/links' %>
        <%= render :partial => 'links/form' %>
        <br/>
        <%= render :partial => 'rates/rates' %>
        <%= render :partial => 'rates/form' %>
        <br/>
        <%= render :partial => 'likes/likes' %>
        <%= render :partial => 'likes/form' %>
      </div>
    </section>

    <hr/>

    <section class="wm-indent">
     <%= @book.summary %>
    </section>

    <hr/>

    <section class="wm-book-comments">
      <div class="wm-sns-share">
        <span class="text-muted">分享到</span>
        <img src="/assets/sns/renren.png" height="24" alt="人人" title="分享到人人"/>
        <img src="/assets/sns/douban.png" height="24" alt="豆瓣" title="分享到豆瓣"/>
        <img src="/assets/sns/sina.png" height="24" alt="新浪微博" title="分享到新浪微博"/>
        <img src="/assets/sns/qzone.png" height="24" alt="QQ空间" title="分享到QQ空间"/>
        <img src="/assets/sns/tencent.png" height="24" alt="腾讯微博" title="分享到腾讯微博"/>
        <a class="btn btn-primary btn-sm wm-quick-link" href="">发表评论</a>
      </div>
    </section>

    <%= render :partial => 'comments/comments' %>

    <hr/>
    <%= render :partial => 'comments/form' %>
  </article>

  <%= render :partial => 'books/recommend' %>
</main>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
    tex2jax: {inlineMath: [["$", "$"], ["\\(", "\\)"]]}
  });
</script>
<script type="text/javascript">
  (function() {
    var QUEUE = MathJax.Hub.queue,
      math = null;

    QUEUE.Push(function() {
      math = MathJax.Hub.getAllJax('#wmd-preview')[0];
    });

    window.UpdateMath = function(TeX) {
      $('wmd-preview').html(TeX);
      MathJax.Hub.Queue(['Typeset', math, 'wmd-preview']);
    }

    $('#wmd-input').keypress(function(event) {
      UpdateMath($(this).val());
    });

  })();
</script>
<script type="text/javascript">
  (function () {
    var converter = Markdown.getSanitizingConverter();
    converter.hooks.chain('preBlockGamut', function(text, rbg) {
      return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm,
        function (whole, inner) {
          return "<blockquote>" + rbg(inner) + '</blockquote>\n';
      });
    });

    var editor = new Markdown.Editor(converter, null, {strings: Markdown.local.zh});
    editor.run();
  })();
</script>
<script src="/assets/jquery.raty.js"></script>
<script>
    $(document).ready(function() {
      $('#rate_button').hide();
      $('#star').raty({
        score: function() {
          return $(this).attr('data-score');
        },
        click: function(score, evt) {
          $('#rate')[0].value = score;
          $('#rate_button').show();
        }
      });
    });
    function addTag(){
      $('#tagForm').show();
    }
    function hideTag(){
      $('#tagForm').hide();
    }
    function addList(){
      $('#listForm').show();
    }
    function hideList(){
      $('#listForm').hide();
    }
</script>
