<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Dbid:</strong>
  <%= @book.dbid %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>Creator:</strong>
  <%= @book.user[:name] %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Url:</strong>
  <%= @book.url %>
</p>

<%= render :partial => 'likes/likes' %>
<%= render :partial => 'likes/form' %>

<%= render :partial => 'rates/rates' %>
<%= render :partial => 'rates/form' %>
<h3>All comments:</h3>
<%= render :partial => 'comments/comments' %>
<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
