<% content_for :head do %>
   <title><%= @book.title %> | 万门大学</title>
<% end %>

<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title"><%= @book.title %></span>
      <span class="wm-quick-link">
        <% if can? :edit, @book %>
          <%= link_to '修改', edit_book_path(@book) %>  | 
        <% end %>
        <a href="JavaScript:window.history.back();">返回</a>
        <% if can? :destroy, @book %>
          | <%= link_to '删除', book_path(@book), method: :delete, data: { confirm: '请确认要删除此图书?' } %>
        <% end %>
      </span>
    </h3>
    <section class="row wm-gallery">
      <figure class="col-sm-4 col-xs-6">
        <a class="thumbnail">
          <%= image_tag(@book.cover.url("medium")) %>
        </a>
      </figure>
      <div class="col-sm-8 wm-metadata">
        <span>作者</span> <%= @book.author %> <br/>
        <span>出版社</span> <%= @book.publisher %> <br/>
        <span>译者</span> <%= @book.translator %> <br/>
        <hr/>
        <%= render :partial => 'taglinks/taglinks' %>
        <%= render :partial => 'taglinks/form' %>
        <br/>
        <%= render :partial => 'links/links' %>
        <%= render :partial => 'links/form' %>
        <br/>
        <%= render :partial => 'rates/rates' %>
        <%= render :partial => 'rates/form' %>
        <br/>
        <%= render :partial => 'likes/likes' %>
        <%= render :partial => 'likes/form' %>
      </div>
    </section>

    <hr/>

    <section class="wm-indent">
      <%=raw Kramdown::Document.new(@book.summary).to_html%>
    </section>

    <hr/>

    
    <%= render :partial => 'comments/shares' %>  
    <%= render :partial => 'comments/comments' %>
    <hr/>
    <%= render :partial => 'comments/form' %>
  </article>

  <%= render :partial => 'books/recommend' %>
</main>

<% content_for :bottom_script do %>
    <%= render :partial => 'layouts/markdown' %>
    <%= render :partial => 'layouts/raty' %>
    <%= render :partial => 'layouts/rails' %>
<% end %>
