<%= form_for [@linkable, @link] do |f| %>
  <% if @link.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :list_id %><br />
    <%= f.text_field :list_id %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>