<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @link.list %>
</p>

<p>
  <strong>Linkable:</strong>
  <%= @link.linkable %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
