<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @link.list.title %>
</p>

<p>
  <strong>Linkable:</strong>
  <%= @link.linkable.title %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %>
<%= link_to 'Show', @link.list %>
