<% content_for :head do %>
  <title>修改标签 | 万门大学</title>
<% end %>

<h1>Editing tag</h1>

<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    标签名<br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "修改标签名", :name =>"update" %>
    <%= f.submit "删除标签", :name =>"delete" %>   
  </div>
<% end %>

<%= link_to '显示', @tag %> |
<%= link_to '返回标签列表', tags_path %>
