<% content_for :head do %>
  <title>标签 | 万门大学</title>
<% end %>



<main class="container" role="main">
  <aside class="col-sm-3">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-list-alt"></span> 分类浏览
    </h3>
    <div class="list-group">
      <% @tagInfo.each_pair do |id, info| %>
        <a class="list-group-item" href="#<%=id%>" data-toggle="tab">
            <%= info[TAGNAME] %> <span class="badge"><%=info[TAGCOUNT]%></span>
        </a>
      <% end %>
    </div>
  </aside>

  <article class="col-sm-9">
    <h3 class="page-header">
      标签列表
      <span class="wm-quick-link">
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <div class="tab-content">
      <% @tagInfo.each_pair do |id, info| %>
        <section class="tab-pane container wm-tag-list" id="<%=id%>">
          <% info[TAGCHILD].each do |t| %>
            <div class="col-sm-3">
              <%= link_to t.name, t %>
            </div>
          <% end %>
        </section>
      <% end %>
    </div>
  </article>

  <aside class="col-sm-3">
  </aside>


</main>

<% content_for :bottom_script do %>
  <script type="text/javascript">

    $('.list-group-item').on('click',function(e){
        var previous = $(this).closest(".list-group").children(".active");
        previous.removeClass('active'); // previous list-item
        $(e.target).addClass('active'); // activated list-item
    });

  </script>
<% end %>