<h1>所有标签</h1>

<table>
  <thead>
    <tr>
      <th>名字</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.taglinks.length%>个对应内容</td>
        <td><%= tag.follows.length%>个关注</td>
        <td><%= tag.follows.length%>个喜欢</td>
        <td><%= link_to '显示', tag %></td>
        <td><%= link_to '修改', edit_tag_path(tag) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新标签', new_tag_path %>
