<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @tag.topic %>
</p>

<p>
  <strong>Tagable:</strong>
  <%= @tag.tagable %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
