<% content_for :head do %>
  <title>标签 | 万门大学</title>
<% end %>

<main class="container" role="main">
  <aside class="col-sm-3">
    <h3 class="page-header">
      <span class="glyphicon glyphicon-check"></span>  <strong>标签名:</strong>
  		<%= @tag.name %>
    </h3>
    <section>
        <%= render :partial => 'follows/follows' %>
		<%= render :partial => 'follows/form' %>
        <br/>
		<%= render :partial => 'likes/likes' %>
		<%= render :partial => 'likes/form' %>
    </section>
    <h3 class="page-header">相关标签</h3>
    <section>
      <% @childTags.each do |t| %>
        <%= link_to t.name, t %><br/>
      <% end %>
    </section>
  </aside>

  <article class="col-sm-9">
    <h3 class="page-header">
      对应结果 <span class="text-muted">(共<%= @tag.taglinks.length %>项)</span>
      <span class="wm-quick-link">
        <a href="JavaScript:window.history.back();">返回</a>
      </span>
    </h3>
    <section>
     <% @tag.taglinks.each do |taglink| %>
      <div>
        <h4>
        <% case taglink.tagable.class.name
        when 'Book'%>
          [图书]
       <% when 'Video'%>
          [视频]
       <% when 'Article' %>
          [经验贴]
       <% when 'List' %>
          <% if taglink.tagable.list_type == BOOKLIST %>
          [书单]
          <% elsif taglink.tagable.list_type == VIDEOLIST %>
          [视频集]
          <% elsif taglink.tagable.list_type == ARTICLELIST %>
          [帖子集]
          <% else %>
          [综合集]
          <% end %>
       <%  else %>
          [Undefined]
       <%  end %>
        <%= link_to taglink.tagable.title,taglink.tagable %>
        </h4>
       <!-- 
       <p class="wm-pub-metadata">
          <a href="users/1.html">soliton</a> 发布于 2013-09-14 21:27
          <span class="pull-right">4个标签 | 1个单子 | 2人喜欢 | 2条评论</span>
        </p>-->
        <p><%= taglink.tagable.summary[0,200] %>
        <%= link_to '继续阅读', taglink.tagable %>
        </p>
      </div>
      <hr/>
     <% end %>
    </section>
  </article>

</main>
