<!--<div class="container">
    <div class="page-header">
      <h1>上传图片</h1>
    </div>
    <div class="row">
      	<form action="<%= upyun_api_url %>" method="post" enctype="multipart/form-data">
		<%= upyun_form_input_tag(:return_url => @return_url) %>
		<input type="file" name="file" />
		<button type="submit">上传图片</button>
		</form>
    </div>
</div>-->
<h1>File Upload</h1>
<%= start_form_tag ({:action => 'uploadFile'}, 
                        :multipart => true) %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<%= end_form_tag %>