<h1>Listing follows</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Followable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @follows.each do |follow| %>
      <tr>
        <td><%= follow.user %></td>
        <td><%= follow.followable %></td>
        <td><%= link_to '显示', follow %></td>
        <td><%= link_to '编辑', edit_follow_path(follow) %></td>
        <td><%= link_to '删除', follow, method: :delete, data: { confirm: '请再次确认删除' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follow', new_follow_path %>
