<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @follow.user %>
</p>

<p>
  <strong>Followable:</strong>
  <%= @follow.followable %>
</p>

<%= link_to '编辑', edit_follow_path(@follow) %> |
<%= link_to '返回', follows_path %>
