<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @taglink.tag %>
</p>

<p>
  <strong>Tagable:</strong>
  <%= @taglink.tagable %>
</p>

<%= link_to 'Edit', edit_taglink_path(@taglink) %> |
<%= link_to 'Back', taglinks_path %>
