<%= form_for [@rateable, @rate], :html=>{:class=>"wm-inline-block",:role=>"form"} do |f| %>
  <% if @rate.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if can? :create, @rate %>
    <div id="star" data-score="<%= @rateable.rate %>"></div>
    <div class="field">
      <%= f.number_field :star,:id=>'rate',:type=>'hidden'%>
    </div>
    <div class="actions">
      <%= f.submit '打分', :class=>'btn btn-default btn-xs', :id=>'rate_button' %>
    </div>
  <% end %>
<% end %>
